### Vim files ###
#################
.*.*.sw*


### Python files ###
####################
*.pyc

### Local virtualenv folder ###
###############################
env

### Test folder for local testing ###
#####################################
test/output

### Folder for aggregating source files before running component builder ###
############################################################################
program

# A local program config file for running the application with system specific settings
src/settings.cfg

# Ignore auto generate log file when generating component
gen_component.log

# Local copy of wcc.properties file
wcc.properties.*

# Ignore local versions of test/datasetDoc.json
test/datasetDoc.json
test/datasetDoc.json.*
!test/datasetDoc.json.sample
