# Set the environment variable D3MCONFIG to point to this file and change paths according to your system configuration

[Data]
dataset_root = <Path to read only dataset root directory>
out_dir_root = <Path to write accessible directory>
[TA2]
ta2_url = localhost:45042
