<div class="wf-component-container" *ngIf="is_ready(); else wfsElseBlock">

  <div class="wf-status-container">
    <div class="status-view">
      <div class="state-label">Status:</div>
      <div class="component-state">{{wfs.state}}</div>
    </div>
    <div class="select-btn-container">
      <button pButton type="button" class="ui-button-success" label="Set Problem Definition" (click)="set_problem()"></button>
    </div>
  </div>

  <div class="problem-form-container">

    <div class="section-wrapper">
      <div class="section-header">
        <div class="section-label">Problem Information</div>
        <div class="select-btn-container">
          <button class="btn-secondary" (click)="use_suggest_prob()">
            Get Suggested Problem
          </button>
        </div>
      </div>
    </div>

    <div class="section-wrapper">
      <div class="problem-fields">
        <form class="problem-definition-form" #problemForm="ngForm">
          <div class="form-field">
            <div class="ui-inputgroup">
              <span class="form-label">Problem Name:</span>
              <input pInputText placeholder="Problem Name" value="test" required
                [(ngModel)]="problem.name" name="name">
            </div>
          </div>
          <div class="form-field">
            <div class="form-label">Description of Problem</div>
            <textarea pInputTextarea
                      autoResize="autoResize"
                      [rows]="2" [cols]="50"
                      [(ngModel)]="problem.description" 
                      name="description"></textarea>
          </div>
          <div class="form-field">
            <div class="form-label">Prediction Target</div>
            <!--<p-dropdown [options]="task_types" [(ngModel)]="task_type" name="task_type"></p-dropdown>-->
            <p-dropdown [options]="problem_targets" [(ngModel)]="problem_target"
              name="problem_target" 
              (ngModelChange)="set_problem_target()"></p-dropdown>
            <!--<p-listbox [options]="task_types" [(ngModel)]="problem.task_type"></p-listbox>-->
            <!--<input pInputText placeholder="What to Predict?" value="Target">-->
          </div>
          <div class="form-field">
            <div class="form-label">Prediction Task Type</div>
            <p-dropdown [options]="task_types" [(ngModel)]="problem.task_type" name="task_type"></p-dropdown>
          </div>
          <div class="form-field">
            <div class="form-label">Prediction Task SubType</div>
            <p-dropdown [options]="task_subtypes" [(ngModel)]="problem.subtype" name="task_subtype"></p-dropdown>
          </div>
          <div class="form-field">
            <div class="form-label">Problem Metric</div>
            <p-dropdown [options]="problem_metrics" [(ngModel)]="problem_metric"
              name="problem_metric"
              (ngModelChange)="set_problem_metric()"></p-dropdown>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #wfsElseBlock>
  <app-not-ready-yet></app-not-ready-yet>
</ng-template>
