### Vim files ###
#################
.*.*.sw*


### Python files ###
####################
*.pyc

### Local virtualenv folder ###
###############################
env

### Test folder for local testing ###
#####################################
test/output

### Folder for aggregating source files before running component builder ###
############################################################################
program

# A local program config file for running the application with system specific settings
src/settings.cfg

# Ignore auto generate log file when generating component
gen_component.log

# Ignore copies of wcc.properties for local machine settings
wcc.properties*
!wcc.properties.template

# Ignore local versions of test/files and only keep samples
test/problemTarget.tsv
test/problemTarget.tsv*
!test/problemTarget.tsv.sample
