### Vim files ###
#################
.*.*.sw*


### Python files ###
####################
*.pyc

### Local virtualenv folder ###
###############################
env

### Test folder for local testing ###
#####################################
test/output

### Folder for aggregating source files before running component builder ###
############################################################################
program

# A local program config file for running the application with system specific settings
src/settings.cfg

# Ignore auto generate log file when generating component
gen_component.log

# Ignore local machine versions of wcc.properties #
wcc.properties*
!wcc.properties.template

test/datasetDoc.tsv
test/datasetDoc.tsv.*
!test/datasetDoc.tsv.sample

test/fit-models.tsv
test/fit-models.tsv.*
!test/fit-models.tsv.sample

test/predictions.tsv
test/predictions.tsv.*
!test/predictions.tsv.sample

test/problemDoc.json
test/problemDoc.json.*
!test/problemDoc.json.sample

