@import '../../assets/scss/main';


.dataset-list-container {
  @include make-row();
  .dataset-list {

    height: 100px;
    width: 80%;
    margin: 0 10%;
    overflow-y: scroll;

    .dataset-item {
      font-size: $md-font;
      margin: 0;
      padding: 0 0;
      

    }

    .selected {
      background: gray;
    }

  }

}
.dataset-metadata-container {

  @include make-row();
}

