
.wf-component-container {
  @include make-container();
}

.wf-status-container {
  @include make-row();

  background-color: lightgray;
  padding-top: 0.4em;
  padding-bottom: 0.4em;


  .status-view {
    @include make-col(8);
    padding: 0.2em;
  }

  .state-label {
    display: inline-block;
    margin: 0 0.5em;
  }

  .component-state {
    display: inline-block;
    padding: 2px 10px;
    margin: 2px 5px;
    border: 1px solid black;
    width: 16rem;
    text-align: center;
  }

  .select-btn-container {
    @include make-col(4);
    text-align: right;
    padding: 0.4em;

    button {
      margin-right: 1em;
      color: primary;
    }
  }
    
}

.section-header {
  @include make-col(12);
}

.state-label {
  font-size: $lg-font;

}

.component-state {

}

.form-field {
    @include make-row();
    padding: $v-padding-sm 0;

  .form-label {
    @include make-col(3);
    display: inline-block;
    font-style: bold;
    font-size: $md-font;
    margin-right: 10px;
  }

  .form-info {
    @include make-col(8);
    display: inline-block;
    font-style: normal;
    font-size: $md-font;
  }
  
}
