<div class="tabbed-container">
	<!--<ngb-tabset [justify]="currentJustify" [activeId]="tb-data-explorer">-->
		<!--<ngb-tab id="tb-var-viewer">-->
			<!--<ng-template ngbTabTitle>Variable Viewer</ng-template>-->
			<!--<ng-template ngbTabContent class="tab-content">-->
				<!--<app-variable-explorer></app-variable-explorer>-->
			<!--</ng-template>-->
		<!--</ngb-tab>-->
		<!--<ngb-tab id="tb-data-explorer">-->
			<!--<ng-template ngbTabTitle>Raw Data Explorer</ng-template>-->
			<!--<ng-template ngbTabContent class="tab-content">-->
				<!--<p>-->
					<!--Testing this out with a sample block-->
				<!--</p>-->
			<!--</ng-template>-->
		<!--</ngb-tab>-->
	<!--</ngb-tabset>-->
</div>

