### Vim files ###
#################
.*.*.sw*


### Python files ###
####################
*.pyc

### Local virtualenv folder ###
###############################
env

### Test folder for local testing ###
#####################################
test/output

### Folder for aggregating source files before running component builder ###
############################################################################
program

# A local program config file for running the application with system specific settings
src/settings.cfg

# Ignore auto generate log file when generating component
gen_component.log

# Ignore generated add_component.sql
add_component.sql

# Ignore local machine versions of wcc.properties #
wcc.properties*
!wcc.properties.template

# Ignore local machine versions of test files
test/model-scores.tsv
test/model-scores.tsv.*
!test/model-scores.tsv.sample
