server {

    listen ${NGINX_PORT};


    location / {
        proxy_pass http://sophia.stevencdang.com:9051/;
    }
      
    location /tigris/ {
        proxy_pass http://sophia.stevencdang.com:9051/;
        proxy_redirect http://sophia.stevencdang.com:9051/ http://localhost:8080/tigris/;
    }

}
