server {

    listen ${NGINX_PORT};


    location / {
        proxy_pass http://${LEARNSPHERE_HOST}:${LEARNSPHERE_PORT}/;
    }
      
    location /tigris/ {
        proxy_pass http://${LEARNSPHERE_HOST}:${LEARNSPHERE_PORT}/;
        proxy_redirect http://${LEARNSPHERE_HOST}:${LEARNSPHERE_PORT}/ http://${NGINX_HOST}:${NGINX_PORT}/tigris/;
    }

}
