server {

    listen ${NGINX_PORT};


    location /dexplorer/ {
        proxy_pass http://${BACKEND_HOST}:${BACKEND_PORT}/;
    }
      

    location /db/ {
        proxy_pass http://${DB_HOST}:${DB_PORT}/;
    }
      

}
